/* -------------------------------------
 * Fonts
 * ------------------------------------- */
// Google fonts
@import url('https://fonts.googleapis.com/css?family=Roboto');
$base-font: "Karla", "Helvetica", "sans-serif";
$header-font: "Rubik", "Helvetica", "sans-serif";

@import url('https://fonts.googleapis.com/css?family=Karla%7CMuli%7CQuicksand:500%7CRubik');
$font-family: ‘Quicksand’, sans-serif;
$font-family: ‘Muli’, sans-serif;
$font-family: ‘Karla’, sans-serif;
$font-family: ‘Rubik’, sans-serif;

// Local fonts (uncomment following lines)
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

// Font-size and line-height
$base-size: 16px;
$base-height: 1.4;

/* -------------------------------------
 * Colors
 * ------------------------------------- */
// Scheme
$brand-color: #D23333;

$red: #EE5F5B;
$blue: #678D58;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;


