/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */
.pagecontainer {
  margin-top: 50px;
  position: center;
  background-color: transparent;
  max-height: 400px;
}







