@import "home";
@import "venues_index";

h1, h2 {
  color: white;
}

a {
  color: white;
}

#index {
  background-color: #EAEAEA;
  width: 74%;
}

#price {
  padding-bottom: 5px;
  padding-top: -8px;
  padding: 8px;
  margin-top: -71px;
  width: 86%;
  margin-left: 1px;
  border-radius: 0px;
  padding-left: 4%;
  background: rgba(0, 0, 0, 0.3);
  height: 20%;
  font-size: 22px;
}
