@import "home";
@import "venues_index";

h1, h2 {
  color: white;
}

a {
  color: white;
}

#index {
  background-color: #EAEAEA;
  width: 74%;
}

#price {
  padding-bottom: 5px;
  padding-top: -8px;
  padding: 13px;
  margin-top: 190px;
  width: 10%;
  margin-left: -181px;
  border-radius: 0px;
  padding-right: 37%;
  border-top-left-radius: 15px;
  border-top-right-radius: 2px;
  background: rgba(228, 145, 86, 1);
  height: 20%;
  font-size: 22px;
  position: absolute;
  font-family: ‘Rubik’, sans-serif;
}



#price2 {
  padding-bottom: -9px;
  padding-top: -8px;
  padding: 13px;
  margin-top: 190px;
  width: 80%;
  margin-left: -181px;
  margin-right: 83px;
  border-radius: 0px;
  padding-left: 64%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background: rgba(255, 255, 255, 0.3);
  height: 20%;
  font-size: 22px;
  position: absolute;

}



