/* -------------------------------------
 * CSS code specific to VENUES / INDEX
 * (margin/padding adjustments)
 * ------------------------------------- */
.container #cards {
  display: flex;
  flex-direction: row;
}


.venues {
  border-style: double;
  border-color: #678D58;
}
