/* -------------------------------------
 * CSS code specific to VENUES / INDEX
 * (margin/padding adjustments)
 * ------------------------------------- */
.container #cards {
  display: flex;
  flex-direction: row;
}

.venues {
  background-size: 80px 60px;
  background-repeat: no-repeat;
}


.card-body h3 {
  color: white;
}


.card-body p {
  color: white;

}
.card-venues {
  margin-top: 34px;
  border-style: solid;
  border-color: #F19953;

}

#newvenue {
  background-color: black;
  color: white;
  margin-bottom: 12%;
  top: 1%;
  margin-top: 5%;
  border: 1px solid #e49156;
  padding-top: 3%;
  padding-bottom: 2%;
}

.btn-new-venue {
  position: absolute;
  top: 116%;
  left: 44%;
  margin-right: 18px;
  height: 8%;
  width: 39%;
}

.btn-linkback {
  position: absolute;
  top: 116%;
  left: 19%;
  margin-right: 18px;
  height: 8%;
  width: 18%;
  padding: 12px;
  padding-left: 31px;
  background-color: white;
  color: black;
}

.btn-linkback:hover{
    background-color: black;
    border:1px solid #fff;
}


