/* -------------------------------------
 * CSS code specific to VENUES / INDEX
 * (margin/padding adjustments)
 * ------------------------------------- */
.container #cards {
  display: flex;
  flex-direction: row;
}

.venues {
  background-size: 80px 60px;
  background-repeat: no-repeat;
}


.card-body h3 {
  color: white;
}


.card-body p {
  color: white;

}
.card-venues {
  margin-top: 34px;
  border-style: solid;
  border-color: #F19953;

}
