<%= simple_form_for @booking do |f| %>
    <%= f.input :capacity, collection: [["10 to 20",20],["21 to 50",50],["51 to 200",200]], input_html: { name: 'guests' }, prompt: "Select Guests", selected: params[:city] %>
    <% end %>

<div class="container">
    <div class="row">
        <div class='col-sm-6'>
            <div class="form-group">
                <div class='input-group date' id='datetimepicker1'>
                    <input type='text' class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            $(function () {
                $('#datetimepicker1').datetimepicker();
            });
        </script>
    </div>
</div>

<!--  -->
