<div class="form-home">
<h2>Find unique and awesome location for every occasion</h2>
<p>Please choose a city below.</p>
<br><br>
<br><br>
<%= simple_form_for :venue, url: venues_path, method: "get",
  wrapper: :inline_form,
  html: { class: 'form-inline' } do |f| %>
  <%= f.error_notification %>
  <%= f.input :city, collection: [ "Berlin", "Wien", "Baden-Baden", "Stockholm", "Köln" ], input_html: { name: 'city' }, prompt: "Select City", selected: params[:city] %>
  <%= f.submit "Search", class: "home-button", name: nil %>
<% end %>
</div>
