<div class="footer-bottom">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <div class="footer">
        <p>This is a secret message. We are being forced to create websites for free at a secret workcamp ("Coding Bootcamp") somewhere in Berlin. Please help us find back to our families.</p>
        </div>
      </div>
    </div>
  </div>
</div>
