

  <div class="container">
<!--  -->
      <div class="row">
        <div class="col-xs-6 col-sm-3">
          <div class="card text-center">
            <h1> VENUES </h1>
              <div class="card-body">
                <p>this will be the card</p>
              </div>
          </div>
        </div>
      </div>




