
<h1 class="text-center"> Spacebook </h1>

  <div class="text-center padded">
  </div>

  <div class="container">
    <%= image_tag "banner.png", class: "banner" %>
      <div class="row">
          <div class="col-xs-12 col-sm-4">
            <div class="card text-center">
              <h1> VENUES </h1>
                <p>this will be the card</p>
              <div class="card-body">

            </div>
          </div>
        </div>
        <div class="col-xs-6 col-sm-3">
          <div class="card text-center">
            <h1> CATEGORIES </h1>
          </div>
        </div>
    </div>
  </div>

<%= link_to "Create a new venue", new_venue_path  %>

<%= link_to "Go Back to Home", root_path  %>
