<div class="container">
  <div class="row">
  <h3>these are the venue details</h3>
  <p>detail one</p>
  <p>detail two</p>
  <p>detail three</p>
  <p>detail four</p>
  </div>
  <div class="row">
    <h3>Book the Venue</h3>
    <p><%= link_to "Book Now", new_venue_booking_path(params[:id]) %></p>
  </div>
  <div class="row">
    <h3>this is the Google Maps</h3>
  </div>
</div>


