.card {
  height: 242px;
  background-size: cover !important;

  color: #eaebef;
  position: relative;

}

.card .venues {
  border: 0.5px solid #bcbaba;
  padding: 1px;
  margin: 11px 0;
  border-radius: 14px;
  padding-bottom: 1px;
  padding-top: 48px;
  max-height: 224px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.card .downvenues {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}


.card-user {
  position: absolute;
  right: 10px;
  top: 30px;
}


.card-category {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 117%;
  text-transform: uppercase;
  font-family: Quicksand, sans-serif, ;
}

.card-category:hover {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 117%;
  text-transform: uppercase;
  color: #F19953;
}
.card-description {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.card-description h2 {
  font-size: 24px;
}
.card-description p {
  font-size: 13px;
  }
.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index:2;
  opacity: 0;
}
.card-link:hover{
  opacity: 0.1;
}

.card-body h3 {
  color: #F19953;
  font-size: 24px;
  font-family: ‘Rubik’, sans-serif;
}

.card-body p {
  color: black;
  font-size: 0.8em;
  font-family: ‘Quicksand’, sans-serif;
}

.venues img {
  vertical-align: middle;
  height: 253px;
}
.downvenues img {
  vertical-align: middle;
  height: 253px;
}

#venue_results {
    margin-top: 20px;
    margin-left: 6px;
    margin-right: 30px;
    height: 91%;
    border: 0.5px solid #bcbaba;
    width: 426px;
}

#venue_results {
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 40px;
  height: 91%;
  border: 0.5px solid #bcbaba;
  justify-content: space-between;
  width: 417px;
}

#icon {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.3);
  color: black;
  width: 33%;
  margin-top: -62px;
  height: 46%;
  border-radius: 15px;
  margin-left: 639px;
  z-index: -1;
}




