// // Your footer style
// .footer-bottom {
//     background-color: white;
//     min-height: 30px;
//     width: 100%;
//     color: black;
//     padding-top: 8px;
//     text-align: center;
//     margin-bottom: 5px;
//   }


.footer p {
  font-family: 'Gudea', sans-serif;
  flex: 1;
}


// Your footer style
.footer-bottom {
    background-color: white;
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    width: 100%;
    color: black;
    display: flex;
    text-align: center;
    flex-direction: column;
  }
