// Your footer style
.footer-bottom {
    background-color: white;
    min-height: 30px;
    width: 100%;
    color: black;
    padding-top: 8px;
  }


.footerp p {
  font-family: 'Gudea', sans-serif;
}


