// Your footer style
.footer-bottom {
    background-color: #1B61F1;
    min-height: 30px;
    width: 100%;
    color: white;
    padding-top: 4px;
  }


.footerp p {
  font-family: 'Gudea', sans-serif;
}


