


.address {
  border-style: solid;
  border-color: #F19953;
  color: white;

  width: 90%;
  padding: 15px;
  margin-top: 25px;
  font-size: 20px;



}

p {

  margin-top: 11px;
  font-weight: 200;
}



img {
  margin-bottom: 2px;






}
