
.home-banner {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 40px;
}

.banner {
  color: white;
  text-align: center;
  height: 100vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner h1 {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}
.banner p {
  font-size: 20px;
  font-weight: lighter;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 20px;
}

.container-fluid {
  min-height: 500px;
}

.video-banner {
  position: absolute;
}

.form-home {
  position: relative;
  text-align: center;
  margin-top: 560px;
  color: white;
}

.wrapper-content {
      margin-top: 17vh;
      margin-bottom: 42px;
      padding-bottom: 120px;
      padding-top: 120px;
      color: #fff;
}

.form-home h1 {
  font-size: 50px;
}
