.home-button {

  color: white;
  border: 1px double white;
  border-radius: 100px;
  padding: 10px 10px;
  font-weight: lighter;
  font-size: 20px;
  // opacity: 0.6;
  transition: all 0.5s;
  background-color: #F19953;
  margin-top: 80px;
}

.home-button:hover {
  opacity: 1;
  background: transparent;
  text-decoration: none;
  color: white;
}

.btn-primary {
  color: #fff;
  background-color: #345995;
  border-color: white;
  border-radius: 6px;
  width: 87px;
  padding-left: 8px;
  margin-left: -69px;

}

.btn-primary:hover{
  color: #fff;
  background-color: transparent;
  border-color: white;

}


