.home-button {

  color: #74D3AE;
  border: 1px double #74D3AE;
  border-radius: 100px;
  padding: 40px 40px;
  font-weight: lighter;
  font-size: 30px;
  // opacity: 0.6;
  transition: all 0.5s;
  background-color: white;
  margin-top: 80px;
}

.home-button:hover {
  opacity: 1;
  background: #F2B7DE;
  text-decoration: none;
  color: white;
}
