@import "alert";
@import "avatars";
@import "badges";
@import "banner";
@import "button";

.border-right {
    border-right: 1px solid black;
}

.border-right {
    border-right: 1px solid black;
}


.home-content {
  text-align: center;
}


.featured_venues {
  margin-top: 50px;
}

.featured_venues .card {
  margin-top: 20px;
}

.category-name {
  bottom: 10px;
  left: 10px;
  font-size: 20px;

}

.card-category {
  text-transform: uppercase;
  margin: 15px 15px;
}

.category-item {
  padding: 10px;
}

.venues {
    display: inline-block;
    width: 100%;
    text-align: center;
    margin: 15px 15px;
    // height: 143px;
    // margin: 0 10px;
    // margin-bottom: 30px;
}
